{ %load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA" content="IE=edge">
    <title>NSQK</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nsqk/static/css/bootstrap.css">
</head>
<body>
    <h1>NSQK</h1>
    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/admin/">Panel de Admin</a></li>
            <li><a href="http://127.0.0.1:8000/nsqk/">API</a></li>
        </ul>
    </nav>
</body>
</html>
